<ion-header>
  <ion-toolbar>
    <ion-title>Tu biblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="5.5">
        <a href="https://danielbadosa.com/el-abandono/" target="_blank">  <img src="assets\b.jpeg"> </a>
        </ion-col>
        <ion-col size="5.5">
          <a href="https://harrypotter.fandom.com/es/wiki/Harry_Potter_y_el_misterio_del_pr%C3%ADncipe" target="_blank">  <img src="assets/img/1.png"> </a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <a href="https://quelibroleo.com/revival" target="_blank"><img src="assets/img/2.jpg"></a>
        </ion-col>
        <ion-col size="5.5">
          <a href="https://www.planetadelibros.com/libro-la-chica-del-tren/249491" target="_blank"><img src="assets/img/3.jpg"></a>
        </ion-col>
      </ion-row>
      </ion-grid>
</ion-card>

</ion-content>
