<ion-header>
  <ion-toolbar>
    <ion-title>
      Busqueda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar animated></ion-searchbar>
  <ion-card>
    <ion-list>
      <ion-item (click)="romance()">Romance</ion-item>
      <ion-item (click)="ficcion()">Ficción</ion-item>
      <ion-item (click)="poesia()">Poesia</ion-item>
      <ion-item (click)="comedia()">Comedia</ion-item>
      <ion-item (click)="cuentos()">Cuentos</ion-item>
      <ion-item (click)="leyenda()">Leyenda</ion-item>
      <ion-item (click)="fabula()">Fabula</ion-item>
      <ion-item (click)="diarios()">Diarios</ion-item>
      <ion-item (click)="desamor()">Desamor</ion-item>
      <ion-item (click)="tragedia()">Tragedia</ion-item>
    </ion-list>
    </ion-card>

</ion-content>
