<ion-header>
  <ion-toolbar>
    <ion-title>
      Gustos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-col size="4.5"> 
        <img src="assets\Romance.png">
      </ion-col>
  
      <ion-checkbox></ion-checkbox>
      <ion-col size="4.5">
        <img src="assets\Accion.png">
      </ion-col>
      </ion-row>

      <br>

      <ion-row>
    <ion-checkbox></ion-checkbox>
    <ion-col size="4.5">
      <img src="assets\Ficcion.png">
    </ion-col>

    <ion-checkbox></ion-checkbox>
      <ion-col size="4.5">
        <img src="assets\Poesia.png">
      </ion-col>
      </ion-row>
      <br>
      <ion-row>
      <ion-checkbox>Comedia</ion-checkbox>
      <ion-col size="4.5">
        <img src="assets\Comedia.png">
      </ion-col>

      <ion-checkbox></ion-checkbox>
      <ion-col size="4.5">
        <img src="assets\Cuentos.png">
      </ion-col>
    </ion-row>
    <br><br>
    
    <ion-button href="tabs" expand="block" fill="outline">Listo
      <ion-icon name="checkmark"></ion-icon>
      </ion-button>

      <ion-button href="registro" expand="block" fill="outline">Regresar
        <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
  </ion-grid>



 

  

</ion-content>
