<ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home"></ion-icon>
      
    </ion-tab-button>
    
    <ion-tab-button tab="busqueda">
      <ion-icon  name="search" ></ion-icon>
      
    </ion-tab-button>
    <ion-tab-button tab="biblioteca">
      <ion-icon  name="book" ></ion-icon>
      
    </ion-tab-button>
    <ion-tab-button tab="galeria">
      <ion-icon  name="camera" ></ion-icon>
      
    </ion-tab-button>
    <ion-tab-button tab="actualizaciones">
      <ion-icon  name="map" ></ion-icon>
      
    </ion-tab-button>

    <ion-tab-button tab="encuesta">
      <ion-icon  name="document" ></ion-icon>
    </ion-tab-button>

    

  </ion-tab-bar>
</ion-tabs>
</ion-content>
