<ion-header>
  <ion-toolbar>
    <ion-title>Actualizaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Mis seguidores</ion-label>
    <ion-badge slot="end">224</ion-badge>
  </ion-item>

  <ion-card href="https://www.informador.mx/cultura/Paul-McCartney-lanzara-libro-20210512-0025.html" target="_blank">
    <img src="assets/img/noti1.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Paul McCartney lanzará libro
        </ion-card-title>
      <p>
        El libro del famoso cantautor saldrá al público en noviembre.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card href="https://www.informador.mx/cultura/Alvaro-Uribe-la-ficcion-y-lo-real-acompanan-a-Los-que-no-20210525-0002.html" target="_blank">
    <img src="assets/img/noti2.jpeg"/>
    <ion-card-content>
      <ion-card-title>
        Álvaro Uribe, la ficción y lo real acompañan a “Los que no”
        </ion-card-title>
      <p>
        Álvaro Uribe explica que el origen del título se relaciona a las historias que desglosa en “Los que no”.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card href="https://www.informador.mx/cultura/El-lado-obscuro-de-la-literatura-de-Marcelo-Lujan-20210511-0020.html" target="_blank">
    <img src="assets/img/noti3.jpg"/>
    <ion-card-content>
      <ion-card-title>
        El lado obscuro de la literatura de Marcelo Luján
        </ion-card-title>
      <p>
        El volumen de cuentos del escritor argentino ya está en circulación en librerías de México.
      </p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
