<ion-header>
  <ion-toolbar>
    <ion-title>
      W&S
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets\logo.png">
      <ion-card-title>Write & Share</ion-card-title>
    </ion-card-header>
    <ion-card-header>
      <ion-button href="registro" expand="block" fill="outline">Registrarse
        <ion-icon name="log-in"></ion-icon>
        </ion-button>
    </ion-card-header>
    <ion-card-header>
    <ion-card-subtitle>Siguenos en nuestras redes:</ion-card-subtitle>
    <a href="https://twitter.com/" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
    <a href="https://www.facebook.com/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
    <a href="https://www.instagram.com/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
    <a href="https://www.snapchat.com/l/es/" target="_blank"><ion-icon name="logo-snapchat"></ion-icon></a>
    <a href="https://www.tiktok.com/es" target="_blank"><ion-icon name="logo-tiktok"></ion-icon></a>
  </ion-card-header>
  </ion-card>
</ion-content>


